body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
